<!-- Base and Navbar -->
{% extends "base.html" %}

<!-- Block Title -->
{% block title %}Home{% endblock %}

<!-- Block Body -->
{% block body %}

{% endblock %}

<!-- Content -->
{% block content %}
  <!-- Message flash -->
  {% with messages = get_flashed_messages() %}
  {% if messages %}

    <ul class=flashes>
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    </ul>
    
  {% endif %}
  {% endwith %}
  
<!-- content -->
<h1 align="center">Make a Post</h1>
<form method="POST">
    <textarea name="text" id="text" class="form-control" cols="30" rows="10"></textarea>
    <br />
    <div align="center">
        <button class="btn btn-lg btn-primary">Post</button>
    </div>
</form>

{% endblock %}
