<!-- Base Html -->
{% extends "base.html" %}

<!-- Title Html -->
{% block title %}Home{% endblock %}

<!-- Body Html -->
{% block body %}

{% with messages = get_flashed_messages() %}
  {% if messages %}

    <ul class=flashes>
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    </ul>
    
  {% endif %}
{% endwith %}

{% endblock %}

<!-- Content -->
{% block content %}

<h1>This is Homepage Jinjja</h1>

{% endblock %}
